<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Rest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Mongo-Rest API</h1>
  </body>
</html>